.venv
setup-venv.log
*.~u
*.suo
*.svd
*.svdx
*.bak
.vs/
UpgradeLog.htm
*.compileinfo
*.zip
*.tpy
*.tclrs
*.tmc
*.tmcRefac
*.library
LineIDs.dbg
_Boot/
_CompileInfo/
_ModuleInstall/
*.compiled-library
